<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/><!--支持驼峰式命名-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--<dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/kook-bot?characterEncoding=utf-8&amp;useSSL=false&amp;allowPublicKeyRetrieval=true&amp;failOverReadOnly=false"/>
                <property name="username" value="root"/>
                <property name="password" value="1157436060"/>
            </dataSource>-->
            <dataSource type="com.kook.util.MyDruidDataSourceFactory">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/kook-bot?characterEncoding=utf-8&amp;useSSL=false&amp;allowPublicKeyRetrieval=true&amp;failOverReadOnly=false" />
                <property name="username" value="root" />
                <property name="password" value="1157436060" />
                <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
                <property name="minEvictableIdleTimeMillis" value="60000" />
                <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
                <property name="timeBetweenEvictionRunsMillis" value="5000" />
                <!-- 校验SQL，不配置的话，testWhileIdle、testOnBorrow、testOnReturn无效 -->
                <property name="validationQuery" value="select 'x'" />
            </dataSource>
        </environment>
    </environments>
    <!--每一个Mapper.xml的需要在Mybatis核心配置文件中注册-->
    <mappers>
        <mapper resource="com/kook/mapper/SteamApiMapper.xml"/>
    </mappers>


</configuration>